:root{
    --black:#141414;
    --light-black:#161819;
    --grey-text: #a9afc3;
    --red:#ff0000;
    --facebook:#1877F2;
    --twitter: #1DA1F2;
    --discount-price-text-color:#6c757d;
    --roboto-font:'Roboto', sans-serif;
}

@media screen and (min-width:1601px) {
    body{
        max-width: 1500px !important;
        margin: 0 auto !important;
        background-color: var(--black);
    }
   
}

@media screen and (max-width:1601px) {
    .container{
        max-width: 90% !important;
    }
    section, .navbar{
        /* transform: translateZ(0); */
        backface-visibility: hidden;
    }
    .owl-carousel .owl-item img {
    object-fit: contain;
    }
    
}

@media screen and (max-width:1399.98px){
        .banner, .featured-product-sec  {
    padding: 50px 0;
}
.banner-content h4 {
    font-size: 40px;
}
.banner-content h6 {
    font-size: 20px;
}
.banner-img {
    height: 500px;
}
.banner-slide h1 {
    font-size: 150px;
    left: -30px;
}
.top-product-heading h5 {
    font-size: 20px;
}
.top-product-heading p {
    font-size: 14px;
}
.red-btn {
    padding: 7px 15px;
}
.top-product-sec {
    padding: 50px;
}


}
@media screen and (max-width:1199.98px){
 .banner, .featured-product-sec,.top-product-sec, .advantage-sec  {
    padding: 30px 0;
}
.banner-content h4 {
    font-size: 35px;
}
.banner-img {
    height: 450px;
}
.feature-heading h3, .top-sec-heading h3 , .advantage-heading h3{
    font-size: 28px;
     margin-bottom: 50px;
}
.top-product-heading h5 {
    font-size: 16px;
}
.top-product-price p {
    font-size: 20px;
   
}
.top-product-price p i{
    font-size: 20px;
}
.browse-box p{
    font-size: 28px;
}
.a-img i {
    font-size: 30px !important;
}
.adv-content h6 {
    font-size: 16px;
}
.adv-content p {
    font-size: 13px;
}


}

@media screen and (max-width:991.98px){
    /* navbar */
       .navbar.fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100% !important;
  }
    button.navbar-toggler{
        position: absolute;
        right: 50px !important;
        top: 14px !important;
        border: none;
    }
   .navbar-brand img{
    width: 100px;
   }
  .navbar-toggler-icon {
    width: 35px !important;
    background-color: transparent;
    border: 1px solid var(--grey-text);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
 
.navbar-collapse {
    width: 200px;
    background: var(--light-black);
    position: absolute;
    right: 50px;
    top: 65px;
    z-index: 999;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}
   .navbar-toggler:focus{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
   }
   .navbar-nav {
    text-align: left;
    display: flex;
    align-items: flex-start !important;
}
.navbar-nav .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
}
.search-container {
    right: 0;
    width: 400px;
}
.banner-content h4 {
    font-size: 27px;
}
.banner-content h6 {
    font-size: 18px;
}
.banner-slide h1 {
    font-size: 100px;
}
.advantage-sec .row .col-md-4{
    width: 50%;
}
.advantage-box{
    margin-bottom: 30px;
}
footer .row .col-md-3{
     width: 33%;
}
footer .row .col-md-3:first-child{
    width: 100%;
    margin-bottom: 10px;
}
.f-col3 h5, .f-col4 h5, .f-col2 h5 {
    margin-left: 0;
    margin-top: 20px;
}
.f-col3 ul, .f-col4 ul, .f-col2 ul {
    margin-left: 0;
}
.subscribe .red-btn{
    margin-left: 20px;
}
.subscribe input {
    width: 75%;
}
.cart-text , .seatch-text, .user-text{
    display: block;
    opacity: 1;
    border: none;
    top: 5px;
    left: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    
}
.cart-text a{
    font-size: 15px !important;
}
.cart-text, .user-text {
    top:15px
}

/* product details page */

.hero-img {
    width: 60%;
}
.thumb-img {
    width: 60px;
    gap: 10px;
}
.product-details-price-sec .col-md-8, 
.product-details-price-sec .col-md-4{
    width: 100%;
}
.payment-btn button:first-child{
    margin-bottom: 10px;
}
.product-tab-sec {
    padding: 40px 0;
}


}


@media screen and (max-width:767.98px) {
footer .row .col-md-3{
    width: 100%;
    
}
.f-col2 h5,.f-col2 ul{
     margin-left: 0;
}
.banner-img {
    height: 300px;
}
.banner-con-col{
    order: 2 !important;
}
.banner-img-col{
    order: 1 !important;
}
.category-btns button {
    font-size: 14px;
}
.redbtn-active {
    padding: 5px 10px;
    font-size: 14px !important;
}
.advantage-sec .row .col-md-4 {
    width: 25%;
}
.a-img {
    font-size: 30px !important;
}
.copyright .row .col-md-6{
    width: 50% !important;
}
.copyright {
    padding: 10px 0;
}
.subscribe .red-btn {
    padding: 11px 15px;
    margin-left: 20px;
}
footer {
    padding: 40px 0 20px;
}
#topProductsRow .col-md-4{
    width: 50% !important;
}

/* cart page */
.added-prod-box{
    margin-bottom: 20px;
}
.added-prod-details .row .col-md-4{
    width: 30%;
}
.added-prod-details .row .col-md-7{
    width: 60%;
}
.added-prod-details{
    position: relative;
}
.delete-btn{
    position: absolute;
    right: 0;
    top: 25px;
}
.prod-added-to-cart {
    padding: 30px 0;
}
/* all product.jsx */
.product-filter-sec{
    margin-bottom: 30px;
}

/* product details page */

#product-details-row .col-md-2{
    width: 20%;
}
 #product-details-row .col-md-10{
    width: 80%;
 }
 .hero-img {
    width: 75%;
}
.product-details-desc h4{
    margin-top: 20px;
}
.prod-details-stock {
    width: 30%;
}
#specification {
    width: 100%;
}
.related-product-sec {
    padding: 40px 0;
}
.related-prod-row .col-md-4{
    width: 50%;
}
.review-tab-row .col-md-1{
    width: 10%;
}
.review-tab-row .col-md-11{
    width: 90%;
}

}

@media screen and (max-width:630px){
    .search-container input, .search-container .suggestions{
        position: relative;
        left: 100px;
    }
    .search-container .clear-search-btn{
        right: -80px;
    }
    .advantage-sec .row .col-md-4 {
    width: 50%;
}
.review-tab-row .col-md-1{
    width: 15%;
}
.review-tab-row .col-md-11{
    width: 85%;
}
.product-details-tab{
    display: flex;
    flex-direction: column;
    align-items: ceter;
}
.product-details-tab li{
    margin-bottom: 10px;
}

}
@media screen and (max-width:520px){
    .search-container input,  .search-container .suggestions{
        position: relative;
        left: 150px;
    }
   
     .search-container .clear-search-btn{
        right: -120px;
    }
    #topProductsRow .col-md-4{
    width: 100% !important;
    }
    .browse-box {
        height: 200px;
    }
    .copyright-text p {
   
    font-size: 15px;
   
}
.prod-name h6 {
    font-size: 16px;
}

/* product details */

.related-prod-row .col-md-4{
    width: 100%;
}
.prod-details-stock {
    width: 50%;
}.product-details-price-sec, .product-details-offer {
    margin-bottom: 20px;
}


}
@media screen and (min-width:320px) and (max-width:519px){
    .advantage-sec .row .col-md-4 {
    width: 100%;
}
    .subscribe .red-btn{
        margin-left: 0;
    }
    .copyright .row .col-md-6{
    width: 100% !important;
}
.search-container input, .search-container .suggestions {
    position: relative;
    left: 80%;
    transform: translateX(9px);
}
.search-container .clear-search-btn {
    right: -150px;
}
.search-container .suggestions {
    width: 240px;
}
.user-primary-box {
    left: -100px;
}
.login-box, .signup-box {
   
    width: 280px;
    padding: 20px;
}
.log-dash p {
    text-align: center;
    margin-top: 20px;
}
.login-social-btn {
    display: flex;
    flex-direction: column;
    background: transparent;
    align-items: center;
    justify-content: space-around;
}
.login-fb, .login-g{
    margin-bottom: 30px;
}
button.navbar-toggler, .navbar-collapse {
    right: 20px !important;
}
.category-btns{
    flex-direction: column;
}
.category-btns button{
    margin-bottom: 10px;
}

/* cart page */
.added-prod-details .row .col-md-4{
    width: 100%;
}
.added-prod-details .row .col-md-7{
    width: 100%;
}
.prod-name h6 {
    font-size: 18px;
    margin-top: 20px;
}
.empty-cart svg {
   margin-bottom: 20px;
    width: 80px !important;
    height: 80px;
}

/* product details */
.review-tab-row .col-md-1{
    width: 20%;
}
.review-tab-row .col-md-11{
    width: 80%;
}
.product-details-desc h4 {
    font-size: 20px;
}

}

